# JWT auth key
JWT_SECRET=

# How long tokens stay valid in days, defaults 7 days
# TOKEN_TTL_SECONDS=

# Tailscale auth key
TS_AUTHKEY=

# Admin user password, username: admin
ADMIN_PASSWORD=ChangeMe

# How long to hold trash for, defaults 30 days
# TRASH_RETENTION_DAYS=

# How often to run a full drive scan in minutes, defaults 60
# SCAN_INTERVAL_MINUTES=

# Drive configs, use root path
# Include number of drives and a name and path for each
NUM_DRIVES=

DRIVE_1_NAME=
DRIVE_1_PATH=

#etc
# DRIVE_0_NAME=
# DRIVE_0_PATH=



