# JWT auth key
JWT_SECRET=

# Tailscale auth key
TS_AUTHKEY=

# How long to hold trash for, defaults 30 days
# TRASH_RETENTION_DAYS=

# Drive configs, use root path
# Include number of drives and a name and path for each
NUM_DRIVES=

DRIVE:1:NAME=
DRIVE:1:PATH=

#etc
# DRIVE:2:NAME=
# DRIVE:2:PATH=



